// gallery
.gallery {
  background: linear-gradient(180deg, #111111 0%, #000000 57.29%, #0F0F0F 100%);
  overflow: hidden;
  &__title {
    color: $main-color;
  }
  &-slider {
    height: 600px;
    overflow: visible;   
    margin-bottom: 45px; 
    @media (max-width: 991px){
      margin-bottom: 30px;
      height: 470px;
    }
    @media (max-width: 767px){
      height: 392px;
    }
    @media (max-width: 575px){
      padding: 0 50px;
      height: 255px;
    }
    @media (max-width: 400px){
      padding: 0 30px;
      height: 165px;
    }
  }
  &-slide {
    transition: height .2s ease, opacity .2s linear;
    height: 480px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.swiper-slide-active {
      height: 600px;
      transition: height .2s ease, opacity .2s linear;
      @media (max-width: 991px){
        height: 460px;
      }
      @media (max-width: 767px){
        height: 380px;
      }
      @media (max-width: 575px){
        height: 250px;
      }
      @media (max-width: 400px){
        height: 170px;
      }
    }
    &.swiper-slide-prev {
      opacity: .5;
    }
    &.swiper-slide-next {      
      opacity: .5;
    }
    @media (max-width: 991px){
      height: 413px;
    }
    @media (max-width: 767px){
      height: 350px;
    }
    @media (max-width: 575px){
      height: 204px;
    }
    @media (max-width: 575px){
      height: 150px;
    }
  }
}
.gallery-slider__arrow-left {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -80px;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 1400px){
    left: 21px;
  }
  @media (max-width: 575px){
    display: none;
  }
}
.gallery-slider__arrow-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -80px;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 1400px){
    right: 21px;
  }
  @media (max-width: 575px){
    display: none;
  }
}
.gallery-page {
	background: #252528;
	padding-top: 0;
	padding-bottom: 35px;
  &__img {
    height: 262px;    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
	&-tab {
		margin-bottom: 64px;
		&__item {
			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}
	.team-main__slide {
		margin-bottom: 45px;
	}
}
.gallery-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  a {
    grid-column: 4 span;
    .gallery-page__img {
      border-radius: 8px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
      overflow: hidden;
    }
  }
}

