// instructor
.instructor {
	padding-top: 0;
	background-color: #252528;
	.team-main__slide-top {
		height: 428px;		
		@media (max-width: 991px){
			height: 800px;
		}
	}
	.team-main__slide-bottom {
		padding-left: 60px;
		h3 {
			font-size: 36px;
			line-height: 48px;
			text-transform: uppercase;
			color: #F5333F;
			max-width: 180px;
			@media (max-width: 991px){
				max-width: 100%;
				font-size: 26px;
				line-height: 38px;
			}
		}
		.price {
			margin-top: 35px;
			&__title {
				font-weight: $semibold;
				font-size: 18px;
				line-height: 26px;
				color: #F5333F;
				@media (max-width: 991px){
					font-size: 14px;
					line-height: 20px;					
				}
			}
			&__cost {
				font-size: 24px;
				line-height: 40px;
				color: #EBEBEE;
				span {
					font-size: 18px;
					line-height: 26px;
					color: #828286;
				}
			}
			@media (max-width: 991px){
				margin-bottom: 35px;
			}
		}
	}
	.team-main__slide-top {
		@media (max-width: 1199px){
			background-size: cover!important;
		}
	}
	@media (max-width: 991px){
		padding-top: 15px;
	}
	@media (max-width: 767px){
		padding-top: 0;
	}
}
.instructor__another {
	margin-top: 40px;
	&-title {
		font-weight: $bold;
		font-family: $font-family-second;
		font-size: 20px;
		line-height: 30px;
		text-transform: uppercase;
		color: #F5333F;
		margin-bottom: 15px;
		@media (max-width: 991px){
			margin-bottom: 30px;
		}
	}
	.team-main__slide {
		margin-bottom: 25px;
	}
	.team-main__slide-bottom {
		padding-left: 0;
		h3 {
			font-size: 16px;
			line-height: 24px;
			color: #EBEBEE;
		}
	}
	.team-main__slide-top {
		min-height: 235px;
		height: 235px;
		@media (max-width: 991px){
			min-height: 404px;
		}
		@media (max-width: 575px){
			min-height: 227px;
			height: 227px;
		}
	}
	.team-main__slide-rect {
		@media (max-width: 991px){
			height: 57px;
		}
		@media (max-width: 575px){
			height: 29px;
		}
	}
	.team-main__slide-rect img:nth-child(2) {
		height: 55px;
		@media (max-width: 575px){
			height: 25px;
		}
	}
	.team-main__slide-subtitle {
		color: #EBEBEE;
	}	
}
.instructor-about {
	padding-left: 60px;
	margin-bottom: 40px;
	&__title {
		font-weight: $semibold;
		font-size: 18px;
		line-height: 26px;
		color: #F5333F;
		width: 180px;
		@media (max-width: 991px){
			margin-bottom: 20px;
			font-size: 15px;
			line-height: 24px;
			width: 100%;
		}
	}
	&__list {
		width: 480px;
		@media (max-width: 991px){
			width: 100%;
		}
	}
	&__item {
		padding-left: 40px;
		font-weight: $semibold;
		font-size: 18px;
		line-height: 26px;
		color: #EBEBEE;
		position: relative;
		margin-bottom: 20px;
		
		&::before {
			content: '';
			position: absolute;
			width: 24px;
			height: 24px;
			left: 0;
			top: 0;
			background: url('@img/arrow/arrow-check-red.svg') no-repeat center center / cover;
		}
		@media (max-width: 991px){
			font-size: 13px;
			line-height: 20px;			
		}
	}
	@media (max-width: 1199px){
		padding-left: 20px;
	}
	@media (max-width: 991px){
		flex-direction: column;
		padding-left: 0;
	}
	@media (max-width: 575px){
		padding-left: 20px;
	}
}
.instructor-form {
	padding: 30px;
	background: #1A1B1D;
	width: 699px;
	margin-left: auto;
	&__title {
		margin-bottom: 25px;
	}
	input {
		font-weight: $regular;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.01em;
		color: rgba(#EBEBEE, .65);
		&::placeholder {
			font-weight: $regular;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.01em;
			color: rgba(#EBEBEE, .65);
			@media (max-width: 575px){
				font-size: 15px;			
			}
		}
		@media (max-width: 575px){
			font-size: 15px;			
		}
	}
	.form-control {
		background-color: transparent;
		border: none;
		border-radius: 0;
		padding-left: 0;
		border-bottom: 1px solid #EBEBEE;
		padding-bottom: 14px;
		@media (max-width: 575px){
			padding-top: 14px;
		}
	}
	.input-wrapper {
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		.form-control {
			width: 305px;		
			input {
				width: 100%;
			}
			&:not(:last-child){
				margin-right: 15px;
			}
			@media (max-width: 1199px){
				width: 100%;
			}
		}
		@media (max-width: 575px){
			flex-direction: column;
			margin-top: 0;
		}
	}
	.agreement  {
		max-width: 440px;
		@media (max-width: 1199px){
			margin-bottom: 15px;
			margin-left: 0;
		}
	}
	.contacts-form__bottom {
		@media (max-width: 1199px){
			flex-direction: column-reverse;
		}
	}
	@media (max-width: 1199px){
		width: 100%;
	}
}

.instructor-main-slide {
	.team-main__slide-top {
		@media (max-width: 575px){
			height: 450px;
		}
	}
	.team-main__slide-title {
		@media (max-width: 991px){
			font-size: 26px;
			line-height: 38px;			
		}
	}
	.team-main__slide-rect {
		@media (max-width: 991px){
			height: 117px;
		}
	}
	.team-main__slide-rect img:nth-child(2) {
		@media (max-width: 991px){
			height: 114px;
		}
	}
	.team-main__slide-bottom {
		padding-left: 0;
		@media (max-width: 575px){
			padding-left: 20px;
		}
	}
}
.instructor-about__load-more {
	display: none;
	@media (max-width: 575px){
		display: block;
		padding-left: 40px;	
		font-weight: $semibold;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.05em;
		color: #F5333F;		
	}
	
}
