// modal
.graph-modal {
  &__left {
    max-width: 378px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    &-title {
      font-family: $font-family-second;     
      font-weight: $bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: $dark-color;     
      margin-bottom: 6px; 
    }
  }
  &__content {
    &-wrapper {
      display: flex;
    }    
  }
  &__title {
    color: $dark-color;
    max-width: 300px;
    margin-bottom: 12px;
  }
  &__age {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    &-name {
      color: #828286;
    }
    &-text {
      color: $dark-color;
    }
  }
  &__img {
    width: 378px;
    height: 200px;
    margin-bottom: 20px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 26px; 
    color: $dark-color;
    margin-bottom: 20px;
  }
  &__annotation {
    margin-bottom: 20px;
    &-title {
      display: block;
      font-weight: $semibold;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.05em;   
      color: $red-color;
    }
    &-name {
      font-size: 12px;
      line-height: 14px;  
      letter-spacing: 0.05em; 
      color: #1A1B1D;
    }
  }
  &__btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 665px){
      margin-top: 0;
    }
  }	
  &__time {
    padding-left: 32px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: url('@img/modal/time.svg') no-repeat center center / cover;
    }
  }
  &__hour {
    ont-family: $font-family-third; 
    font-weight: $medium;
    font-size: 20px;
    line-height: 24px;
    color: $red-color;
    margin-bottom: 2px;
  }
  &__minute {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #F5333F;
    margin-bottom: 10px;
  }
  &__day {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #1A1B1D;
  }
	.graph-modal__close {
		position: absolute;
    right: 18px;
    top: 18px;
	}
	.input-second {
		margin-bottom: 20px;
	}
}
.content-card {
  &.graph-modal__container {
		width: 630px;
		background: #EBEBEE;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
		padding: 30px;
		border-radius: 30px;	
    border-radius: 0;
    @media (max-width: 665px){
      width: 360px;
      padding: 20px;
    }	
    @media (max-width: 379px){
      width: 331px;
    }
	}
  .graph-modal__content-wrapper {
    @media (max-width: 665px){
      flex-direction: column;
    }
  }
  .graph-modal__close {
    width: 13px;
    height: 13px;
  }
  .graph-modal__text {
    @media (max-width: 665px){
      font-size: 16px;
      line-height: 24px;  
      margin-bottom: 15px;
    }      
  }
  .graph-modal__time_lg {
    @media (max-width: 665px){
      display: none;
    }
  }
  .graph-modal__time_sm {
    display: none;
    @media (max-width: 665px){
      display: flex;      
    }
  }
  .graph-modal__time-left {
    @media (max-width: 665px){
      margin-right: 15px;
    }
  }
  .graph-modal__day {
    @media (max-width: 665px){
      height: fit-content;
      position: relative;
      top: 7px;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.05em;      
    }
  }
  .graph-modal__age {
    @media (max-width: 665px){
      margin-bottom: 15px;
    }
  }
  .graph-modal__minute {
    @media (max-width: 665px){
      margin-bottom: 0;
    }
  }
  .graph-modal__right {
    @media (max-width: 665px){
      padding-left: 0;
    }
  }
  .graph-modal__annotation {
    @media (max-width: 665px){
      margin-bottom: 15px;
    }
  }
  .graph-modal-wrapper {
    @media (max-width: 665px){
      display: flex;
    }
  }
  .graph-modal__time {
    @media (max-width: 665px){
      margin-bottom: 15px;
    }
  }
  .graph-modal__img {    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 665px){
      width: 100%;
      height: 170px;
      margin-bottom: 15px;
    }
  }
}

.modal-booking, .modal-payment {
  background: #1A1B1D;
  border-radius: 8px;
  padding: 30px;
  width: 900px;
  &__right {
    padding-right: 75px;
  }
  &__img {
    width: 270px;
  }
  &__descr {
    line-height: 26px;
    color: #EBEBEE;
    margin-bottom: 45px;
  }
  .graph-modal__title {
    margin-bottom: 50px;
    color: $main-color;
    color: #EBEBEE;
  } 
  .graph-modal__close {
    background: url('@img/modal/modal-close.svg') no-repeat center center / cover;
    right: 35px;
    top: 35px;
  }
  .graph-modal__step {
    font-family: $font-family-second;   
    font-weight: $bold;
    font-size: 16px;
    line-height: 24px;
    color: $main-color;
    margin-bottom: 15px;
  } 
}
.modal-payment {
  &__list {
    margin-top: 30px;
    margin-bottom: 30px;   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
  }
  &__item {
    min-height: 168px;
    padding: 15px;
    border: 1px solid #828286;
    border-radius: 10px;
    grid-column: 4 span;
    transition: border-color .5s linear;
    &-title {
      font-family: $font-family-second;
      font-weight: $bold;
      font-size: 20px;
      line-height: 30px; 
      text-transform: uppercase;
      margin-bottom: 13px;
      color: $main-color;
    }
    &-descr {
      margin-bottom: 13px;
      min-height: 52px;
      line-height: 26px;
      color: #EBEBEE;
    }
    &-price {
      font-family: $font-family-second;      
      font-weight: $bold;
      font-size: 20px;
      line-height: 30px;
      color: #F5333F;
    }
    &.active {
      border: 2px solid #F5333F;
      padding: 14px;
    }
  }
  .graph-modal__title {
    margin-bottom: 20px;
    max-width: 360px;
    color: #EBEBEE;
  }
  .graph-modal__subtitle {
    font-family: $font-family-second;
    font-weight: $bold;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 10px;
  }
  .modal-booking__descr {
    margin-bottom: 35px;
  }
  .graph-modal__close {
    right: 35px;
    top: 35px;
  }
  .agreement {
    max-width: 100%;
  }
}
.modal-prepayment {
  &__form {   
    margin-bottom: 30px;
    .input-wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 15px;
      margin-bottom: 30px;
    }
    input {
      padding: 13px 0;
      grid-column: 4 span;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;      
      color: rgba(#EBEBEE, .65);
      border-bottom: 1px solid #EBEBEE;
      &::placeholder {
        color: rgba(#EBEBEE, .65);
      }
    }
    .agreement {
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.05em;
      color: #EBEBEE;
      max-width: 100%;
    }
  } 
}
.modal-booking_main {
  .graph-modal__title {
    margin-bottom: 15px;
  }
  .__select__title {
    font-weight: $regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: $main-color;    
  } 
  .modal-booking__bottom {
    margin-top: 30px;
  }
  .agreement {
    max-width: 100%;
    font-size: 11px;
    line-height: 13px; 
    letter-spacing: 0.05em;
    color: #EBEBEE;
  }
}
.modal-booking_main-form { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px 15px;
  input {
    padding: 13px 0;
    grid-column: 4 span;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;      
    color: rgba(#EBEBEE, .65);
    border-bottom: 1px solid #EBEBEE;

    &::placeholder {
      color: rgba(#EBEBEE, .65);
    }
  }
  .__select-second {
    grid-column: 4 span;
    width: 100%;
  }
}








