// services
.services-main { 
  overflow: hidden;
  background: linear-gradient(180deg, #E1E1E4 0%, rgba(168, 168, 170, 0.3) 100%), url('@img/services/services-abstract-bg.svg') no-repeat bottom center/100%;
  &__card {
    filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.15));
    position: relative;
    height: 480px;
    &-bottom {
      padding: 0 20px 30px 30px;
      transition: opacity .2s linear;
      @media (max-width: 1199px){
        background-position-y: 34px!important;
      }
    } 
    &:hover {     
      .services-main__card-bottom {
        opacity: 0;
      }
      .services-main__card-overlay {
        opacity: 1;
      }
    }
  }
  &__link {
    &:hover {
      opacity: 1;
    }
  }
}
.services-main__card-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0 20px 30px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s linear;
  h3 {
    margin-bottom: 8px;
  }
  .services-main__card-text_hover {
    font-size: 14px;
    line-height: 20px;
    @media (max-width: 767px){
      font-size: 13px;
      line-height: 20px;      
    }
  }
  .services-main__card-offer_hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
}
.services {
  background: url('@img/services/services-abstract.svg') no-repeat center center / 100%;
  padding-top: 0;
  padding-bottom: 30px;
  .services-main__card {
    margin-bottom: 30px;
    @media (max-width: 767px){
      height: 400px;
    }
    @media (max-width: 575px){
      margin-bottom: 15px;
    }
  }
  .services-main__card-bottom {
    @media (max-width: 575px){
      height: 145px!important;
    }
  }
  @media (max-width: 991px){
    padding-top: 30px;
  }
  @media (max-width: 575px){
    padding-top: 20px;
  }
}
.service {
  padding-top: 0;
  background: url('@img/services/service-slider-abstract.svg') no-repeat right -38% / 56%;
  &__container {
    display: flex;
    flex-direction: column-reverse;
    @media (max-width: 991px){
      padding-top: 30px;
    }
    @media (max-width: 767px){
      padding-top: 0;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
    color: $dark-color;
    @media (max-width: 991px){
      font-size: 21px;
      line-height: 32px;      
    }
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
    color: $dark-color;
    @media (max-width: 991px){
      font-size: 16px;
      line-height: 24px;      
    }
  }
}

.service__slider-lg {
  margin-bottom: 15px;
}
.service__slider-lg-slide {
  height: 305px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 991px){
    height: 400px;
  }
  @media (max-width: 767px){
    height: 305px;    
  }
}
.service__slider-sm {
  position: relative;
  width: 330px;
}
.service__slider-sm-slide {  
  height: 48px;
  transition: border-color .3s linear;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &.swiper-slide-thumb-active {
    border: 2px solid #C41230;
  }
}
.service__navigation-prev { 
  z-index: 1;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
  transition: opacity .2s linear;
  &:hover {
    opacity: .8;
  }
  @media (max-width: 991px){
    display: none;
  }
}
.service__navigation-next { 
  z-index: 1;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
  transition: opacity .2s linear;
  &:hover {
    opacity: .8;
  }
  @media (max-width: 991px){
    display: none;
  }
}
.service-slider-sm-wrapper{
  position: relative;
  @media (max-width: 991px){
    margin-bottom: 30px;
  }
}

.services-main__slider {
  overflow: visible;
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px 30px;
    .swiper-slide {
      grid-column: 3 span;
    }

    @media (max-width: 1199px){
      grid-template-columns: repeat(6, 1fr);
      gap: 30px 30px;
    }
    @media (max-width: 767px){
      gap: 0;
      display: flex;
    }
  }
  @media (max-width: 575px){
    padding: 0 70px 0 0;
  }
  @media (max-width: 400px) {
    padding: 0 50px 0 0;
  }
}