// socials
.socials {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    } 
  }
}
.socials-fixed {
  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
.socials-change {
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: fixed;
  z-index: 2;
  top: 206px;
  transform: translateY(-50%);
  right: 0; 
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
.socials-change__btn-change {
  &:hover {
    content: '123';
  }
}
.socials-change__card-guest {
  transition: width .3s linear;
  span {
    
    font-size: 0;
    // transition: width .2s linear, font-size .5s linear .5s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: .3s;
    transition-delay: 0s 5s;
  }
  &:hover {
    width: 220px;

    span {
      transition-delay: .5s;     
      font-size: 18px;
      font-family: $font-family-second;
      font-weight: $bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #EBEBEE;
      margin-right: 10px;
    }
  }
}

.socials-change__btn-change {
  transition: width .3s linear;
  span {
    
    font-size: 0;
    // transition: width .2s linear, font-size .5s linear .5s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: .3s;
    transition-delay: 0s 5s;
  }
  &:hover {
    width: 220px;

    span {
      transition-delay: .5s;     
      font-size: 18px;
      font-family: $font-family-second;
      font-weight: $bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #EBEBEE;
      margin-right: 10px;
    }
  }
}