// socials
.socials {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
.socials-fixed {
  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
.socials-change {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
  top: 206px;
  transform: translateY(-50%);
  right: 0;
  &__item {
    position: relative;
    width: 24px;
    height: 25px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image .2s linear;
    &:nth-child(1) {
      background-image: url('@img/socials/ok.svg');
      &:hover {
        background-image: url('@img/socials/ok-red.svg');
      }
    }
    &:nth-child(2) {
      background-image: url('@img/socials/vk.svg');
      &:hover {
        background-image: url('@img/socials/vk-red.svg');
      }
    }
    &:nth-child(3) {
      background-image: url('@img/socials/teleg.svg');
      &:hover {
        background-image: url('@img/socials/teleg-red.svg');
      }
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
 
  @media (max-width: 575px) {
    padding: 6px 6px;
    position: fixed;
    left: 50%;
    bottom: 0;
    top: unset;
    width: max-content;
    transform: translate(-50%);
    flex-direction: row-reverse;
    transition: background-color .3s ease-out;
    background-color: #fff;  
   
  }
  &--bg {
    position: fixed;   
  }
  &.opacity {
    display: none;
  }
}
.socials-change__card-guest {
  transition: width .3s linear;
  img {
    @media (max-width: 575px){
      margin-right: 10px;
    }
  }
  span {
    font-size: 0;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: .3s;
    transition-delay: 0s 5s;
    @media (max-width: 575px){
      font-size: 18px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;      
    }
  }

  &:hover {
    @media (min-width: 576px) {
      width: 220px;
      span {
        // transition-delay: .5s;
        font-size: 18px;
        font-family: $font-family-second;
        font-weight: $bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #EBEBEE;
        margin-left: 10px;
      }
    }
   
  }
  @media (max-width: 575px) {
    width: 165px;
  }
}
.socials-change__btn-change {
  transition: width .3s linear;
  img {
    @media (max-width: 575px){
      margin-right: 10px;
    }
  }
  span {
    font-size: 0;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: .3s;
    transition-delay: 0s 5s;
    @media (max-width: 575px){
      font-size: 18px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;      
    }
  }
  &:hover {
    @media (min-width: 576px){
      width: 220px;
      span {
        // transition-delay: .5s;
        font-size: 18px;
        font-family: $font-family-second;
        font-weight: $bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #EBEBEE;
        margin-left: 10px;
      }
    }  
  } 
  @media (max-width: 575px) {
    width: 168px;
  }
}
.footer {
  .socials {
    &__item {
      position: relative;
      width: 24px;
      height: 25px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: background-image .2s linear;
      &:nth-child(1) {
        background-image: url('@img/socials/ok.svg');
        &:hover {
          background-image: url('@img/socials/ok-red.svg');
        }
      }
      &:nth-child(2) {
        background-image: url('@img/socials/vk.svg');
        &:hover {
          background-image: url('@img/socials/vk-red.svg');
        }
      }
      &:nth-child(3) {
        background-image: url('@img/socials/teleg.svg');
        &:hover {
          background-image: url('@img/socials/teleg-red.svg');
        }
      }    
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}