// soon
.soon {
  background: #DDDDE1;
  padding-bottom: 0;
  &__bg {
    background: url('@img/soon/soon-bg-abstract.svg') no-repeat center center / cover;
    padding-bottom: 40px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__date {
    margin-bottom: 23px;
    &-day {
      font-family: $font-family-second;
      font-weight: $bold;
      font-size: 16px;
      line-height: 24px;    
      color: $red-color;
      margin-right: 5px;
    }
    &-date {
      font-family: $font-family-second;     
      font-size: 14px;
      line-height: 22px;    
      color: $dark-color;      
    }
  }
  &__card {
    min-height: 240px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $main-color;    
    &-link {
      transition: box-shadow .2s ease-in-out, opacity .2s linear;
      &:hover {
        opacity: 0.95;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      }
    }
    &-time {
      font-family: $font-family-second;
      font-weight: $bold;
      font-size: 14px;
      line-height: 20px;  
      color: $red-color;
    }
    &-title {
      font-family: $font-family-second;
      font-weight: $bold;
      color: $dark-color;
      line-height: 24px;
      margin-top: 16px;
      margin-bottom: 20px;
    }
    &-subtitle {
      font-size: 13px;
      line-height: 20px;     
      color: $dark-color;
    }
    &-name {
      margin-top: 6px;
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      color: #828286;
    }
    &-length {
      font-family: $font-family-second;    
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      color: #F5333F;
    }
  }
}