// Specifications
html,
body {
	height: 100%;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: $main-color;
  font-family: $font-family;
  font-weight: $regular;  
}
body.hidden {
  overflow: hidden
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 991px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section-title {
  margin-bottom: 45px;
	@media (max-width: 991px){     
		margin-bottom: 30px;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
  z-index: 1;
}
.footer {
	flex: 0 0 auto;
}
.container {
  @media (max-width: 575px){
    padding: 0 20px;
  }
}
// .container{
//   padding: 0 var(--container-offset);
//   max-width: var(--container-width);  
//   margin: 0 auto;  
// }
// .container-lg {
//   margin: 0 auto;
//   padding: 0 var(--container-offset);
//   max-width: var(--container-fluid-width);
// }

h1, h2, h3, h4, h5, h6 {
  color: $main-color;
  text-transform: uppercase;
  font-weight: $bold;
  font-family: $font-family-second;
}
h1 {
  font-size: 72px;
  line-height: 80px;   
  color: $main-color;
}
h2 {
  font-size: 36px;
  line-height: 48px;
  color: $dark-color;
  span {
    color: $red-color;
  }
}
h3 {
  font-size: 20px;
  line-height: 30px;
  span {
    color: $red-color;
  }
}
.swiper-wrapper {
  box-sizing: border-box;
}








